.containers {
    background-color: #d1d1d1;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.tables {
    margin: .5rem;
    padding: 1rem;
    border: 1px solid;
    background-color: #fff;
}

#inputVlrTotal:disabled {
    opacity: 1;
    background-color: #fff;
    /* cursor: not-allowed; */
}
#inputValueTotal:disabled {
    opacity: 1;
    background-color: #fff;
}

.inputDisabled:disabled{
    opacity: 1;
    background-color: #fff;
    /* cursor: not-allowed; */
}

.stock-negative {
    color: red;
    font-weight: bold;
}
.invoiceTitle {
    width: 10%;
    padding-right: 2em;
}
.invoiceText {
    width: 35%;
    text-align: left;
}

.select2-container .select2-selection--single{
    height: calc(2.25rem + 2px);
}
